@model BookModels
 

<div class="container">
    <h3 class="display-4">All books</h3>
    <div class="row">

        @foreach (var book in Model)
        {

         <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@book.Title</h5>
                    <p class="card-text">@book.Description</p>
                    <a href="/book/GetBookById/@book.Id" class="btn btn-outline-success">View Details</a>
                </div>
            </div>
         </div><br />

        }

    </div>
</div>